# Global snippets

snippet name "user name"
dalu
endsnippet

snippet tname "user's true name"
Mou Tong
endsnippet

snippet email "user email address"
mou.tong@qq.com
endsnippet

snippet author "author information"
dalu <mou.tong@qq.com>
endsnippet

snippet copy. "copyright"
Copyright `!v &enc[:2] == "utf" ? "©" : "(c)"` `!v strftime("%Y")` ${1:`!v g:snips_author`}. All Rights Reserved.
endsnippet

snippet dalu-header "name author datetime description..."
Filename: ${1:`!v expand('%:t')`}
Author: ${2:author}
Maintainer: ${3:matainer}
Created: ${4:`!v strftime("%Y-%m-%d %H:%M")`}
Last Upated:
         By:
Keywords: ${5:keywords}
Version: 0.1
Changelog:
    0.1 - initial version
Commentary:

${6:description}

Code:

$0
endsnippet

snippet ccu "c/cpp comment upside"
/***********************************************************
endsnippet

snippet ccd "c/cpp comment downside"
***********************************************************/
endsnippet

snippet pc "python comment"
############################################################
endsnippet

snippet vcu "vim comment upside"
" ${1:description} {{{ "
endsnippet

snippet vcd "vim comment downside"
" }}} ${1:description} "
endsnippet

snippet trump-cn "cn nobody knows ... better than I do" b
👐  没有人
🙌  比我
👌  更懂
☝️   $0
endsnippet

snippet trump-cn "nobody knows ... better than I do" b
👐  Nobody 
🙌  Knows
👌  $0
☝️   better than I do
endsnippet
