##########
#  File  #
##########

/.DS_Store
/*/.DS_Store
/.netrwhist
/viminfo
!/pack/mine/start/README.md
!/pack/mine/opt/README.md

##########
# Folder #
##########

/plugged/
/pack/minpac/
/pack/mine/

/undotree/
/swapfiles/
/sessions/
